

      <!-- Static navbar -->


      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1 class="manage_bike">Welcome <%= current_user.first_name %>! </h1>
        <p class="manage_bike">Get your bike delivered anywhere inside San Francisco, CA.  <% if @bike %>

            <div id="bike_status" class="div-bg">
              <h3>
                Bike Status: &nbsp;&nbsp;&nbsp; <span class="bike-current-status"><%= @bike.status %></span>
              </h3>

          <br>

        <p>Bike information:
          <% current_user.bikes.each do |bike| %>
          <li><%= bike.make %>,
              <%= bike.name %>,
              <%= bike.color %></li>
          <% end %>
        </p>

          <div id="bike_status" class="div-bg">
              <p>
                Bike Status: &nbsp;&nbsp;&nbsp; <%= @bike.status %>
              </p>

            </div>
          <% end %>
        </p>

      </div>



        <div class="col-md-6" id="map-canvas">
        </div>  <!-- div for map -->

      <div id="footer">
        <div class="container">
        <p class="muted credit">Pocket Gophers <a href="http://www.devbootcamp.com">BikeReady</a> and <a href="http://www.devbootcamp.com">BikeReady Team copyright 2015</a>.</p>
      </div>
    </div>

<script id="lat"><%= @task_dropoff_lat %></script>
<script id="lng"><%= @task_dropoff_lng %></script>