<script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: -34.397, lng: 150.644},
          zoom: 8
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
</script>

<p> You are signed in: <%= current_user.first_name %> </p>
<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
<% else %>
  <li>
    <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>


<h1>Manage your bike</h1>
<p><%= current_user.first_name %></p>

<img class="avatar" src="http://www.sessionlogs.com/media/icons/defaultIcon.png">

<% if @bike %>
  <p>Bike Status:</p>
  <div id="bike_status" class="div-bg"><%= @bike.status %></div><br>

  <a href="/tasks/deliver_conf">test deliver bike with a tag</a><br>
  <%= link_to 'Deliver Bike', new_task_path %><br>
  <%= link_to 'Pick-up Bike', tasks_pickup_conf_path %><br>

  <% if @bike.status == 'pickup' || @bike.status =='pending'  %>
    <a href="#">Cancel Request</a>
  <% end %>
<% end %>
<div id='map-container'></div>
