<div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Bike Ready</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
               <% if @bike %>
                  <li>
                    <%= link_to 'Deliver Bike', new_task_path %>
                      <span class="sr-only">(current)</span>
                  </li>
               <%end%>
              <li><a href="../about.html">About</a></li>
              <li><a href="../contact.html">Contact</a></li>
              
            </ul>
            <ul class="nav navbar-nav navbar-right">
              
             
              <% if user_signed_in? %>
                <li>
                  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
                </li>
                <% else %>
                  <%= link_to('Login', new_user_session_path)  %>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1 class="manage_bike">Welcome <%= current_user.first_name %>! <%= image_tag current_user.gravatar_url %></h1>
        <p class="manage_bike">Get your bike delivered anywhere inside San Francisco, CA.</p>
      </div>
      
        <div class="col-md-6" id="map-canvas">
        </div>  <!-- div for map -->

      <div id="footer">
        <div class="container">
        <p class="muted credit">Pocket Gophers <a href="http://www.devbootcamp.com">BikeReady</a> and <a href="http://www.devbootcamp.com">BikeReady Team copyright 2015</a>.</p>
      </div>
    </div>


    </div> <!-- /container -->
