<!DOCTYPE html>
<html>
<head>
  <title>Bikeready</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=<%= GOOG_KEY %>">
  </script>

</head>
<body>

<%= yield %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

</body>
</html>
